body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background:#EEE6E6;
    font-family: 'Montserrat', sans-serif;   
      
}

header{
    background: #CD8B59;
    height: 30%;
}


.t_header{
    text-align: right;    
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;    
    margin-right: 40px;    
    margin-top: -180px;
    color: black;
}

.v_menu {
    width: 270px; 
    background-color: #795243; 
    font-style: 'Montserrat', sans-serif; 
    font-size: 25px;
    margin-top: 0px;
    padding: 0px;  
    
}
  
.v_menu a {
    color: rgb(231, 221, 221); 
    font-weight: bold;   /*negrita*/
    display: block; 
    padding: 4px; 
    text-decoration: none; 
    border:rgb(88, 76, 76) 2px solid;    
    padding: 10px;  
    padding-top: 20px;
    padding-block-end: 20px;
    
}

.v_menu a:hover {
    background-color: rgb(184, 177, 177); 
}

.v_menu a.active {
    background-color: #795243; 
    color: rgb(231, 221, 221);
}

.v_menu a.active:hover{
    background-color: rgb(184, 177, 177); 
}

.t_consultar{
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: left;
    margin-top: -300px;  
    margin-left: 600px;
}

.busqueda{
    margin-left: 500px;  
    margin-top: 100px;        
}

.id_user_label{
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    
}

.id_user{
    text-align: left;
    font-size: 25px;
    margin-left: 30px;
    width: 250px;
    height: 40px;
    
}

.boton_buscar{
    font-family: 'Montserrat';
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
    margin-left: 30px;
    background-color: #C06431;
    cursor: pointer;
}
 
.table_users{
    width: 100%;
    margin: 150px auto;
    margin-left: 500px;

}
  
table {
    background-color: white;    
    border: 0.5px solid;
    
}
  
th, td {    /*celdas*/
    text-align: center;
    padding: 12px;
    border: 1px solid rgb(116, 111, 111);
    width: 130px;
    height: 20px;
}

thead{
    background-color: #EEE6E6;
    font-weight: bold; 
    color: black;
}

.boton_nuevo_usuario{
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;    
    margin-top: 50px;
    background-color: #C06431;
    cursor: pointer;

}


footer{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}