/* Start form  attributes - LOGIN */
form {

    min-height: 500px;
    height: auto;    
    width: 400px;
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    padding: 2%;
    overflow: hidden;    
}

.Pant_inicial{
    background: #ddbb99;
}


.L_Ingresar{
    margin-top: 80%;    
    margin-left: 35%;
    padding: 8px 15px;    
    border: 1px solid rgb(190, 186, 186);  
    border-radius: 4px;
    width: 120px;
    height:35px ;
    font-size: inherit;
    font-family: 'Montserrat';
    text-align: center;
    background-color: #C06431;   
    color: white;         
    cursor: pointer;
    text-decoration: none; 
}

.Footer{
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    
}
