/* ACA SE PRESENTAN LOS ESTILOS GENERALES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 


/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html {
    width: 100%;
    height: 100%;
}

/* Start body rules - LOGIN & PRODUCTS*/
body {
    background: #ddbb99 100%;    
    color: rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', arial;
    font-size: 14px;
    opacity: .95;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Footer{
    background-color: #ddbb99;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', arial;       
    color: black;
    width: 100%;
    height: 100px;
    margin-top: 180px;
    position: absolute;   
    
} 


/*Estilos en el Home*/


.t_Inicio{
    color: white;
    font-family: 'Montserrat', arial;  
    font-style: italic;
    text-align: right;
    font-size: 50px;    
    margin-top: -80px;
    margin-right: 40px; 

}

.t_catalogo{
    color: black;
    font-family: 'Montserrat', arial;  
    font-weight: bold;
    text-align: center;
    font-size: 50px;    
    margin-top: 180px;
    margin-right: 40px; 
}


.catalogoContenedor{        /*ul*/
    margin-top: 8%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
}

.catalogo{              /*il*/
    margin: 10px;
    background-color:#6f2b25;
    box-shadow: 5px 10px 5px rgb(231, 231, 231);
    border-radius: 10px;
}

.tituloImagen{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
    text-align:center;
}

.contenedorImagen {
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px;
}

  
.contenedorImagen:hover {
    cursor: pointer;
    transform: scale(1.01);
}
  
.contenedorImagen > img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
