/* ACA SE PRESENTAN LOS ESTILOS REFERENTES A USUARIOS */

.t_consultar{
    font-family: 'Montserrat';    
    text-align: center;
    font-size: 250%;
    font-weight: 700;  
      
    text-transform: uppercase;
}

.busqueda{
    margin-left: 500px;  
    margin-top: 100px;        
}

.id_user_label{
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;    
}

.id_user{
    text-align: left;
    font-size: 25px;
    margin-left: 30px;
    width: 250px;
    height: 40px;    
}

.boton_buscar{
    font-family: 'Montserrat';
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
    margin-left: 30px;
    background-color: #C06431;
    cursor: pointer;
}
 
.table_users{
    width: 100%;
    margin: 300px auto;
    margin-left: 500px;
}
  
table {
    background-color: white;    
    border: 0.5px solid;    
}
  
th, td {    /*celdas*/
    text-align: center;
    padding: 12px;
    border: 1px solid rgb(116, 111, 111);
    width: 130px;
    height: 20px;
}

thead{
    background-color: #EEE6E6;
    font-weight: bold; 
    color: black;
}

.boton_nuevo_usuario{
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;    
    margin-top: 50px;
    background-color: #C06431;
    cursor: pointer;
}

footer{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}